body{
    margin-left: 2em;
    margin-right: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*change background to black*/
}
.reel{
    width: 10%;
}
#nav{
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#bootstrapNav{
    background-color: rgb(0, 0, 0) !important;
    width: 100%;
}
#searchBar{
    align-items: center;
    margin: 0 auto;
    display: block;
    
   
    
}
#searchBox, #searchButton{
    border-radius: 30px 30px;
}
#searchButton:hover{
    background-color: rgb(59, 79, 112);
    color: white;
    
}
#searchButton{
    border: solid rgb(0, 0, 0) 0.5px;
    color: black;
    
}
.button{
    position: relative;
}
.nav-item{
    list-style: none;
}
#acct{
    margin-right: 2em;
   
    margin-left: 4em;
}

.generator{
    border: solid purple 2px;
    height: 500px;
    display: flex;
}
.trailer{
    border:solid purple 2px;
    width: 70%;
    padding: 1em;
    margin: 0.5em;
}

.poster{
    border: solid purple 2px;
    width: 30%;
    padding: 1em;
    margin: 0.5em;
}
.info{
    border: solid blue;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;

}
.description{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
    grid-row: 1 / span 2;
}
.synopsis{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
.cast{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
.watch{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
.generateBtnIcon{
    width: 60%;
}

.generateBtnIcon a:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}
      
@keyframes generateBtnIcon {
    0% { transform: scale(1); 
    }
    50% { transform: scale(1.1);
    }
    100% { transform: scale(1); 
    }     
}


.gen{
    
    border: solid black 1px;
    width: 100px;
    position: relative;
    margin-right: 25em;
    display: grid;
   
}
.genText{
   font-size: 12px;
}

/* .navbar-brand, #list, #explore, #generateBtnIconBox{
    border: solid black 2px;;
} */
#list{
    width: 6em;
    margin-right: 1em;
    display: inline-block;
}
#explore{
    margin-right: 1em;
}
.navbar-brand{
    margin-right: 0.5em;
}
#searchBox {
    margin-left: -15em;


}
#searchBar{
   
    margin-left: -5em;
    
    width: 12em;
    margin-right: -14em;
    /*border: solid rgb(158, 63, 63) 2px; */
}

/* need to figure out how to position correctly because its interfering with account clicking */

/* Santiago's Additions */
#posterDiv {
    overflow: hidden;
    padding: 0;
}
#dynamicPoster {
    width: 100%;
    height: auto;
    display: block;
}
#trailerDiv {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
#dynamicTrailer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#mediaDiv {
    display: flex;
    height: auto;
    padding: 0;
}
.trailer{
    flex: 1.5;
}

.poster{
    flex: 1;
}
#generateBtn{
    width: 100%;
    background-color: #3498db;
}