body{
    margin-left: 2em;
    margin-right: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*change background to black*/
background-color: rgb(239, 237, 237);
}
.reel{
    width: 10%;
}
#nav{
    
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    justify-content: space-between;

    
}

#bootstrapNav{
    color: white;
    width: 100%;
}
#searchBar{
    align-items: center;
    margin: 0 auto;
    display: block;
    
   
    
}
#searchBox, #searchButton{
    border-radius: 30px 30px;
}
#searchButton:hover{
    background-color: rgb(75, 112, 173);
    color: white;
    
}
#searchButton{
    border: solid rgb(0, 0, 0) 0.5px;
    color: black;
    
}
.button{
    position: relative;
}
.nav-item{
    list-style: none;
}
#acct{
    margin-right: 2em;
   
    margin-left: 4em;
}

.generator{
    border: solid purple 2px;
    height: 500px;
    display: flex;
}
.trailer{
    border:solid purple 2px;
    width: 70%;
    padding: 1em;
    margin: 0.5em;
}

.poster{
    border: solid rgb(243, 243, 243) 2px;
    width: 30%;
    padding: 1em;
    margin: 0.5em;
}
.info{
    border: solid rgb(245, 245, 249);
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;

}
.description{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
    grid-row: 1 / span 2;
}
.synopsis{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
.cast{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
.watch{
    border: solid pink 2px;
    padding: 1em;
    margin: 0.5em;
}
#generateBtnIcon{
    width: 60%;

}

#generateBtnIcon a:hover{ 
    animation: pulse 1.5s infinite;
    /*animation-timing-function: linear;*/
}
      
@keyframes generateBtnIcon {
    0% { transform: scale(1); 
    }
    50% { transform: scale(1.1);
    }
    100% { transform: scale(1); 
    }     
}


.gen{
    
    
    width: 100px;
    position: relative;
    margin-right: 25em;
    display: grid;
   
}
.genText{
   font-size: 12px;
}

/* .navbar-brand, #list, #explore, #generateBtnIconBox{
    border: solid black 2px;;
} */
#list{
    width: 6em;
    margin-right: 1em;
    display: inline-block;
}
#explore{
    margin-right: 1em;
}
.navbar-brand{
    margin-right: 0.5em;
    color:  rgb(75, 112, 173);

}
#searchBox {
    margin-left: -15em;


}
#searchBar{
   
    margin-left: -5em;
    
    width: 12em;
    margin-right: -14em;
    /*border: solid rgb(158, 63, 63) 2px; */
}

/*need to figure out how to position correctly because its interfering with account clicking/*